<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4BZ76F3DCF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-4BZ76F3DCF');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello torrent</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" :class="isDarkMode ? 'dark-mode' : 'white-mode'">
        <div class="searchbar">
            <input class="input-text" type="text" v-model="searchItem" v-on:keyup.enter="search()">
            <button @click="search()">Search</button>
            <label for="input-cb">Dark Mode: </label>
            <input id="input-cb" class="input-checkbox" type="checkbox" v-model="isDarkMode">
        </div>
        <div class="torrent" v-for="obj in data" :key="obj.id">
            <h4>Title: {{obj.title}}</h4>
            <p>Size: {{obj.size}}</p>
            <p>Seeds: {{obj.seeds}}</p>
            <p>Peers: {{obj.peers}}</p>
            <button @click="copy(obj.magnet)">Magnet</button>
            <a v-if="obj.imdb" :href="'https://www.imdb.com/title/' + obj.imdb + '/'" target="_blank">IMDB</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<script>
    
    var app = new Vue({
  el: '#app',
  data: {
    searchItem: "",
    isDarkMode: true,
    data: null
  },
  methods: {
    async search(){
        Swal.fire({
            title: 'Loading...',
            allowOutsideClick: false,
            allowEscapeKey: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }
        })
        try {
        const response = await fetch("https://movie-torrent-api.onrender.com/search/"+this.searchItem, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });
        Swal.close()
        if (response.ok) {
            const data = await response.json();
            this.data = data['data']
        } else {
            alert("Please try again later....");
        }
    } catch (error) {
        console.error("Fetch error:", error);
        alert("An error occurred. Please try again later....");
    }
    },
    copy(text) {
    navigator.clipboard.writeText(text)
        .then(() => {
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Magnet copied to clipboard.",
                showConfirmButton: false,
                timer: 1500
            });
        })
        .catch(err => {
            Swal.fire({
                position: "top-end",
                icon: "error",
                title: "Failed to copy magnet link.",
                showConfirmButton: false,
                timer: 1500
            });
        });
}
  }
})
</script>
</html>