<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4BZ76F3DCF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-4BZ76F3DCF');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello torrent</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" :class="isDarkMode ? 'dark-mode' : 'light-mode'">
        <div class="searchbar">
            <input class="input-text" type="text" v-model="searchItem" :placeholder="messages.placeHolder" v-on:keyup.enter="search()">
            <button @click="search()">Search</button>
            <label for="input-cb" class="mode-label">Dark Mode: </label>
            <input id="input-cb" class="input-checkbox" type="checkbox" v-model="isDarkMode">
        </div>
        <div v-if="data.length > 0 && data[0].imgurl" class="featured-poster">
            <img :src="data[0].imgurl" :alt="data[0].title + ' poster'" />
            <div class="featured-title">{{ data[0].title }}</div>
        </div>
        <div class="torrents-container">
            <div class="torrent" v-for="obj in data" :key="obj.id">
                <h4>{{obj.title}}</h4>
                <p class="torrent-info">Size: {{obj.size}}</p>
                <p class="torrent-info">Seeds: {{obj.seeds}}</p>
                <p class="torrent-info">Peers: {{obj.peers}}</p>
                <button @click="copy(obj.magnet)">Magnet</button>
                <a v-if="obj.imdb" :href="'https://www.imdb.com/title/' + obj.imdb + '/'" target="_blank">IMDB</a>
            </div>
        </div>
        <div class="footer">
            <a href="https://github.com/PAVANA809" target="_blank">Github</a>
            <a href="https://in.linkedin.com/in/pavana-h-a-332b09193" target="_blank">LinkedIn</a>
            <a href="https://www.youtube.com/channel/UCS1BF9FHLrj4PaaswoSLMpA" target="_blank">YouTube</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="script.js"></script>
</body>
</html>