* {
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100vh
}

.dark-mode{
    background-color: black;
    color: white;
    border-color: white;
}

.light-mode {
    background-color: white;
    color: black;
    border-color: black
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 2px solid;
}
.torrent{
    margin: 8px;
    border-bottom: 2px solid;
    padding: 8px;
}
.searchbar button{
    margin: 0px 8px;
    padding: 4px;
}

.input-text{
    height: 24px;
    width: 280px;
}
.input-checkbox {
    height: 18px;
    width: 26px;
}